*.pyc
*.pyo
*.db
*.xml
.DS_Store
.coverage
.coveragerc
/htmlcov
.idea
.env
/static
/media
/logs
**/migrations/*
**/media/*
models
/fixtures
log1key.json
log1token.json
prod_key.json
prod_token.json
service.json
archive_functions.py
mailkey.json
mailtoken.json
calendar.json
update_db.sh
vendor_company_lcs.csv
vendor_companies_jellyfish.csv
lcs2.csv
jellyfish.csv
jellyfish1.csv
client_companies.csv
client_companies_lcs.csv
**/swagger.py