*.pyc
*.pyo
*.db
*.xml
.DS_Store
.coverage
.coveragerc
/htmlcov
.idea
.env
/static
/media
/logs
**/migrations/*
**/media/*
models
/fixtures
log1key.json
log1token.json
prod_key.json
prod_token.json
service.json
archive_functions.py
mailkey.json
mailtoken.json
calendar.json
update_db.sh
