boto3
beautifulsoup4
celery
Django
django-constance
django-cors-headers
django-import-export
django-picklefield
django-rest-auth
django-rest-swagger
django-sql-explorer
django-storages
djangorestframework
google-api-python-client
google-auth
httplib2
environs
gunicorn
oauth2client
Pillow
psycopg2-binary
pyfcm
python-dotenv
requests
twilio
urllib3