boto3~=1.17.41
beautifulsoup4~=4.9.3
celery~=5.0.5
Django~=3.1.7
django-constance
django-cors-headers
django-import-export
django-picklefield
django-rest-auth
django-rest-swagger
django-sql-explorer
django-storages
djangorestframework~=3.12.4
environs
gunicorn
psycopg2-binary
pyfcm~=1.5.1
python-dotenv~=0.16.0
requests~=2.25.1
twilio~=6.55.0
PyYAML~=5.4.1
urllib3~=1.26.4
Faker~=10.0.0
xlrd==1.2.0
