boto3
beautifulsoup4
celery
Django~=2.1.7
django-constance
django-cors-headers
django-import-export
django-picklefield
django-rest-auth
django-rest-swagger
django-sql-explorer
django-storages
djangorestframework
httplib2
environs
gunicorn
psycopg2-binary
pyfcm
python-dotenv
requests
twilio